<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="it.neokree.example">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".NavigationDrawerWithAccountActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name=".NavigationDrawerTest" android:theme="@style/MyTheme" />
        <activity android:name=".NavigationDrawerActivityMultipane" android:theme="@style/MyTheme" />
        <activity android:name=".NavigationDrawerActivityRipple" android:theme="@style/RippleTheme" />
        <activity android:name=".NavigationDrawerImageHeaderActivity" android:theme="@style/ImageHeaderTheme" />
        <activity android:name=".NavigationDrawerNoHeaderActivity" android:theme="@style/NoHeaderTheme" />
        <activity android:name=".NavigationDrawerCustomHeaderActivity" android:theme="@style/CustomHeader" />
        <activity android:name="it.neokree.example.Settings" >

        </activity>
        <activity android:name="it.neokree.example.Profile" />


    </application>

</manifest>
