<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.neokree.example">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".mockedActivity.Settings" />
        <activity android:name=".mockedActivity.Profile" />

        <activity android:name=".dark.Accounts" android:theme="@style/AccountsDark" />
        <activity android:name=".dark.MockedAccount" android:theme="@style/MockedAccountDark" />
        <activity android:name=".dark.ImageDrawerHeader" android:theme="@style/ImageHeaderDark" />
        <activity android:name=".dark.NoDrawerHeader" android:theme="@style/NoHeaderDark" />
        <activity android:name=".dark.CustomDrawerHeader" android:theme="@style/CustomHeaderDark" />

        <activity android:name=".light.Accounts" android:theme="@style/AccountsLight" />
        <activity android:name=".light.MockedAccount" android:theme="@style/MockedAccountLight" />
        <activity android:name=".light.ImageDrawerHeader" android:theme="@style/ImageHeaderLight" />
        <activity android:name=".light.NoDrawerHeader" android:theme="@style/NoHeaderLight" />
        <activity android:name=".light.CustomDrawerHeader" android:theme="@style/CustomHeaderLight" />

        <activity android:name=".functionalities.CustomAccountSection" android:theme="@style/CustomAccountSection" />
        <activity android:name=".functionalities.KitkatStatusBar" android:theme="@style/KitkatStatusBar" />
        <activity android:name=".functionalities.MultiPane" android:theme="@style/MultiPane" />
        <activity android:name=".functionalities.RippleBackport" android:theme="@style/RippleBackport" />
        <activity android:name=".functionalities.UniqueToolbarColor" android:theme="@style/UniqueToolbarColor" />
        <activity android:name=".functionalities.master_child.MasterChildActivity" android:theme="@style/MasterChild" />
        <activity android:name=".functionalities.RealColorSections" android:theme="@style/RealColorSections" />
        <activity android:name=".functionalities.DefaultSectionLoaded" android:theme="@style/DefaultSectionLoaded" />
        <activity android:name=".functionalities.ActionBarShadow" android:theme="@style/ActionBarShadow" />
        <activity android:name=".functionalities.LearningPatternDisabled" android:theme="@style/LearningPatternDisabled" />

        <activity android:name=".backpattern.BackToFirst" android:theme="@style/BackPattern" />
        <activity android:name=".backpattern.BackAnywhere" android:theme="@style/BackPattern" />
        <activity android:name=".backpattern.BackPatternCustom" android:theme="@style/BackPattern" />

        <activity android:name=".test.Test" android:theme="@style/TestTheme" />

    </application>

</manifest>
