<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="it.neokree.example">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        android:supportsRtl="true">
        <activity
            android:name="it.neokree.example.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="it.neokree.example.Settings" >

        </activity>
        <activity android:name="it.neokree.example.Profile" >

        </activity>

        <meta-data android:name="MaterialNavigationDrawer.multiPaneSupport" android:value="true" />

    </application>

</manifest>
