<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.neokree.materialnavigationdrawer"
    android:versionCode="1"
    android:versionName="1.0">

    <application></application>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21"
        tools:overrideLibrary="com.balysv.materialripple">
    </uses-sdk>

</manifest>
